<div class="container1">
  <h1>Return Items</h1>
  <a href="home-page" class="previous">&laquo; BACK</a><br><br>
  <form formGroup="">
    <div class="Return-Books">
      <h2> Return Books</h2>
      <div class="formGroup01">
        <label>Book Code</label><br>
        <input type="text" class="formControl01" placeholder="Book Code" required>
      </div>

      <div class="formGroup01">
        <label>Book Name </label><br>
        <input type="text" class="formControl01" placeholder="Book Name" required>

      </div>


      <br>

      <div class="formCheck">
        <input class="formCheckInput" type="checkbox" checked="checked">
        <label class="formCheckLabel">
          Return Books
        </label>
      </div>

      <br>
      <button class="btn_Reset" type="reset" >Reset</button>
      <button class="btn_submit" type="submit">Return Book </button>
    </div>

  </form>

  <form formGroup="">
    <div class="Return-DVDs">
      <h2> Return DVDs</h2>
      <div class="formGroup01">
        <label>Dvd Code</label><br>
        <input type="text" class="formControl01" placeholder="Dvd Code" required>
      </div>

      <div class="formGroup01">
        <label>DVD Name </label><br>
        <input type="text" class="formControl01" placeholder="DVD Name" required>

      </div>


      <br>

      <div class="formCheck">
        <input class="formCheckInput"  type="checkbox" checked="checked">
        <label class="formCheckLabel">
          Return DVD
        </label>
      </div>

      <br>
      <button class="btn_Reset" type="reset" >Reset</button>
      <button class="btn_submit" type="submit">Return DVD </button>
    </div>
  </form>

</div>
