<html>
<link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">

<div class="img">

  <div class="test2">
    Westminster Library

  </div><br>
  <ul>
    <nav>

      <li><a routerLink="/add-item" routerLinkActive="active" >Add Items</a></li>
      <li><a routerLink="/borrow-item" routerLinkActive="active">Borrow Items</a></li>
      <li><a routerLink="/delete-item" routerLinkActive="active">Delete Items</a></li>
      <li><a routerLink="/return-items" routerLinkActive="active">Return Items</a></li>
      <li><a routerLink="/display-items" routerLinkActive="active">Display Items</a></li>
      <li><a routerLink="/generate-report" routerLinkActive="active">Generate Report</a></li>
    </nav>
  </ul>
</div>

</html>
